

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria: #22D4FD;

    --fonte-primaria: 'krona one';sans-serif;
    --fonte-sencudaria:montserrat,sans-serif;
    --cor-hover: #22d4fd;
}
}
* {
    margin: 0;
    padding: 0;
     
}

body{ 
    /* height: 100vh; */
    box-sizing: border-box;
    background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color:var(--cor-terciaria);

}
.apresentacao { 
    padding: 5% 15%;
    display: flex; 
    align-items: center;
    justify-content: space-between;

}

.cabecalho{
    padding:2% 0% 0% 15%;

}

.cabecalho__menu{
    display: flex;
    gap:80px;
}

.cabecalho__menu__link{
    text-decoration: none;
    font-family: var(--fonte-sencudaria);
    font-size: 1,5rem;
    font-weight: 600;
    color:var(--cor-terciaria);

}

.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo{
    font-size: 2,25rem;
    font-family: var(--fonte-primaria);
}
.apresentacao_conteudo_texto{
    font-size: 1,5rem;
    font-family: var(--fonte-sencudaria);
}
.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__redes__sociais {
    /* background-color: #22D4FD; */
    border: 4px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1,5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:white;
    font-family: var(--fonte-sencudaria);

}
.apresentacao__redes__sociais:hover {
    background-color: var(--cor-hover);

}
.apresentacao__imagem{
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px; 
    text-align: center;
    font-family: var(--fonte-sencudaria);
    font-size: 1,5rem;
    font-weight: 400;
}

@media(max-width: 1200px) {
    .apresentacao{
        flex-direction: column-reverse;
        padding:5%;
    }

    .apresentacao__menu{
        justify-content: center;
    }
    .cabecalho{
        padding: 10%;
    }
    .apresentacao_conteudo{
        width: auto;
    }
}
